body{

  
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color:
    rgb(51, 51, 51) 
    rgb(51, 51, 51);
    line-height: 1.6;

    margin: 0;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    background-color: #06050d;;
}
*::before
*::after
*{
    box-sizing: border-box;
}
#header {
	width: 960px;
	height: 100px;
}
#site_title { float: left; margin-top: 20px; }

#wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}