body {
    margin: 0;
    padding: 0;
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    background-color: #06050d;
    background-repeat: no-repeat;
    background-position: top;
    overflow-x: hidden;
}

#wrapper {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

#header {
    width: 960px;
    height: 100px;
}

#menu {
    width: 960px;
    height: 50px;

}


#menu1 {
    width: 960px;
    height: 50px;

}

#middle {
    height: 840px;
    height: 200px;
    padding: 35px 60px;
    background-color: rgba(0, 0, 0, 0.2);
}

#main_top {
    width: 960px;
    height: 12px;

}

#main {
    width: 960px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
}

#content {
    width: 960px;
    width: 960px;
    padding: 20px 10px 20px;
}

.con1 img {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.con2 img {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.con3 img {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}