body {
    margin: 0;
    padding: 0;
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    background-color: #06050d;
    background-repeat: no-repeat;
    background-position: top;
    overflow-x: hidden;
}

#wrapper {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

#header {
    width: 960px;
    height: 100px;
}

#menu {
    width: 960px;
    height: 50px;

}


#menu1 {
    width: 960px;
    height: 50px;

}

#middle {
    height: 840px;
    height: 200px;
    padding: 35px 60px;
    background-color: rgba(0, 0, 0, 0.2);
}

#main_top {
    width: 960px;
    height: 12px;

}

#main {
    width: 960px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
}

#content {
    width: 960px;
    width: 960px;
    padding: 20px 10px 20px;
}

.con1 img {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.con2 img {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.con3 img {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

#middle h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: Eurostile-mn-ext-bold, sans-serif;
    line-height: 54px;
    margin-bottom: 15px;
}

#middle p {
    color: #ccc;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    font-family: Graphik-Semibold, sans-serif;
}

#middle img {
    float: right;
    width: 350px;
}

.product_gallery {
    margin-bottom: 60px;
    text-align: center
}

.product_gallery img {
    margin-bottom: 5px;
}

.product_gallery h3 {
    font-size: 12px;
    color: #999;
    font-weight: 700;
}

.product_gallery .product_price {
    color: #000;
    font-weight: 700
}


.add_to_cart {
    display: inline-block;
    padding-right: 30px;
    background: url(../images/cart.png) no-repeat right center
}


.col {
    float: left;
    margin-right: 40px;
    width: 220px
}


.no_margin_right {
    margin-right: 0
}

.con1 {
    display: flex;
}

.con2 {
    display: flex;
}

.con {
    display: block;
    margin-left: 10%;
}

.con3 {
    display: flex;
}

#middle button {
    border-radius: 25px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 10;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.con h3 {
    color: white;
}

.con a {
    color: white;
}

.product_price p {
    color: white;
}

.content p {
    color: white;
}

li {
    color: white;
}

.footer {

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer .footer-left0 p {
    color: black;
    font-size: 14px;
    margin: 0;
}

.footer p.footer-links0 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer p.footer-links0 a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer .footer-links0 a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
}

.footer .footer-links0 .link-0:before {
    content: none;
}

.footer .footer-right0 {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer .footer-right0 a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    font-size: 20px;
    color: black;
    text-align: center;
    align-items: center;
    line-height: 35px;
    margin-left: 2px;
    transition: all .25s;
    right: 10px;
}

.footer .footer-right0 a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer p.footer-links0 a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {

    .footer .footer-left0,
    .footer .footer-right0 {
        text-align: center;
    }

    .footer .footer-right0 {
        float: none;
        margin: 0 auto 20px;
    }

    .footer .footer-left0 p.footer-links0 {
        line-height: 1.8;
    }
}

.box {
    position: relative;
    margin-bottom: 5px;
    text-align: center;
}


.input {
    padding: 15px;
    width: 53px;
    height: 53px;
    background: none;
    border: 3px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: white;
    outline: none;
    transition: .5s;
    align-items: center;
}

.box:hover input {
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: white;
    transition: .2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    font-family: Roboto;
}

.menu2 ul {
    z-index: 100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.menu2 ul li {
    position: relative;
    display: inline;
    float: left;
}


.menu2 ul li a {
    display: block;
    padding: 0 35px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    outline: none;
    text-align: center;
    background: url(images/templatemo_menu_divider.png) right center no-repeat
}

* html .menu2 ul li a {
    display: inline-block;
}

.menu2 ul li a.selected,
.menu2 ul li a:hover {
    color: #948e6b;
    ;
}


.menu2 ul li ul {
    position: absolute;
    left: 0;
    padding: 10px 0 0;
    display: none;
    visibility: hidden;
    border-bottom: 4px solid #d4d4d4
}